.exerciseContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .weightAndReps {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 1px;
} */
.badge {
  padding: 10px 5px;
  width: 60px;
  text-align: center;
  margin: 3px;
}
.historyContainerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.historyContainer {
  background-color: rgb(244, 240, 240);
}
